@import "../../styles.scss";

.cont {
  position: relative;
  font-size: 15px;
  background-color: #fff;
  border-radius: 20px;
  padding: 40px 35px 40px 35px;
  color: $main-text;
}

.cont .main {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  margin-top: 10px;
  font-weight: 600;
}

.link {
  color: $main-blue;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.inputs {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  .header {
    color: $text-light;
    font-size: 16px;
  }
}

.btn {
  background-color: $main-blue;
  color: #fff;
  padding: 15px 35px 15px 35px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  border-radius: 10px;
  margin-top: 10px;
  width: 254px;
  outline: none;
  border: none;
  &:hover {
    background-color: $main-blue-hover;
  }
}

.register-cont {
  .txt {
    width: 400px;
  }
  .btn {
    width: max-content;
  }
}