<div class="cont">
  <img class="cross" src="public/imgs/main/close.svg" (click)="closeDialog()"/>
  <div class="header">Login</div>
  <div class="main">Don't have an account?  <div class="link">Register</div></div>
  <div class="inputs">
    <div class="input">
      <div class="header">Email</div>
      <input class="txt" placeholder="Email" type="text" />
    </div>
    <div class="input">
      <div class="header">Password</div>
      <input class="txt" placeholder="Password" type="password" />
    </div>
  </div>
  <div class="btn">Login</div>
</div>