<div class="main">
  <div class="menu">
    <div class="top">
        <div class="logo btn-link" routerLink="/">
          <img class="logo" src="public/imgs/main/logo.png"/>
        </div>
    </div>
    <div class="middle">
      <div class="img-cont">
        <img class="btn" src="public/imgs/main/home.svg"/>
      </div>
      <div class="img-cont" [ngClass]="{'active': videoRegExp.test(this.router.url)}">
        <img routerLink="calls" class="btn"
             [src]="videoRegExp.test(this.router.url)
             ? 'public/img/main/video-act.png'
             : 'public/img/main/video.png'"
        />
      </div>
      <div class="img-cont">
        <img class="btn" src="public/imgs/main/settings.svg"/>
      </div>

    </div>
    <div class="bottom">
      <ng-template [ngIf]="user">
        <img class="avtr" src="public/imgs/main/avatar.svg" />
        <img class="logout" src="public/imgs/main/logout.svg" (click)="logout()" />
      </ng-template>
      <ng-template [ngIf]="!user">
        <img class="avtr" src="public/imgs/main/avatar.svg" />
        <img class="login" src="public/imgs/main/login.svg" (click)="showLogin()" />
      </ng-template>
    </div>
  </div>
  <div class="content">
    <router-outlet>

    </router-outlet>
  </div>
    <ng-template [ngIf]="loginVisibility === Visibility.Visible">
      <div class="overlay-cont">
        <login (close)="closeLogin()" (register)="createProfile($event)" (login)="userLogin($event)" />
      </div>
    </ng-template>
</div>