<div style="height: 100%">
  <h1 class="header">My Conferences <div class="create-btn" (click)="showOverlay()">Create</div></h1>
  <ng-template [ngIf]="overlay === Visibility.Visible">
    <div class="overlay-cont">
      <div class="cont">
        <img class="cross" (click)="hideOverlay()" src="public/imgs/main/close.svg" />
        <h1 style="margin-top: 0px">Create Conference</h1>
        <div class="call-form">
          <form>
            <div class="input">
              <div class="header">Name</div>
              <input class="txt" [(ngModel)]="name" type="text" placeholder="Name" />
            </div>
            <div class="input">
              <div class="header">Description</div>
              <textarea placeholder="Description" [(ngModel)]="description" style="font-size: 16px;
                font-family: 'Proxima-Nova', 'sans-serif';
                height: 100px; resize: vertical; max-height: 200px" class="txt"></textarea>
            </div>
            <div class="input">
              <div class="header">Type</div>
            </div>
            <div class="select">
              <div class="option" [ngClass]="{ 'option-selected': confType === ConferenceType.Public }"
                (click)="setOption(ConferenceType.Public)">
                <div class="round">
                  <div class="round-active"></div>
                </div>
                <div class="text">Public</div>
              </div>
              <div class="option" [ngClass]="{ 'option-selected': confType === ConferenceType.Private }"
               (click)="setOption(ConferenceType.Private)">
                <div class="round">
                  <div class="round-active"></div>
                </div>
                <div class="text">Private</div>
              </div>
            </div>
            <input class="submit" type="submit" value="Create"/>
          </form>
        </div>
      </div>
    </div>
  </ng-template>
  <div class="conferences">
    <ng-template [ngIf]="conferencesList.length === 0">
      <div class="label">You don't have any conference</div>
    </ng-template>
    <ng-template [ngIf]="conferencesList.length > 0">
      <div class="">conferences</div>
    </ng-template>
  </div>
</div>