@import '../../styles.scss';

$select-back: #EEEDFB;

.header {
  margin-top: 0;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}



.create-btn {
  $height: 18px;
  $pad-top: 12px;
  $radius: calc((2 * $pad-top + $height) / 2);

  display: flex;
  align-items: center;
  justify-content: center;
  height: $height;
  position: absolute;
  right: 20px;
  font-size: 18px;
  font-weight: normal;
  cursor: pointer;
  background-color: $main-blue;
  color: #fff;
  padding: $pad-top 30px $pad-top 30px;
  border-radius: $radius;
  &:hover {
    background-color: $main-blue-hover;
  }
}

.cont {
  padding: 40px 35px 20px 35px;
  border-radius: 15px;
  position: relative;
  background-color: #fff;
}

.call-form {
  .txt {
    width: 400px;
  }
}

.select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .option {
    width: 180px;
    height: 30px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    font-size: 16px;
    border: 2px solid $grey;
    color: $main-text;
    background-color: #fff;
    cursor: pointer;
    .round {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: 2px solid $grey;
      display: flex;
      justify-content: center;
      align-items: center;
      .round-active {
        width: 10px;
        height: 10px;
        background-color: #fff;
        border-radius: 50%;
      }
    }
  }
}

.option-selected {
  border-color: $main-blue !important;
  background-color: $hover-blue !important;
  color: $main-blue !important;
  .round {
    border-color: $main-blue !important;
    .round-active {
      background-color: $main-blue !important;
    }
  }
}

.submit {
  margin-top: 30px;
  color: #fff;
  background-color: $main-blue;
  padding: 10px 20px 10px 20px;
  outline: none;
  border: none;
  font-size: 16px;
  width: 160px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    background-color: $main-blue-hover;
  }
}

.label {
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conferences {
  height: calc(100% - 55px);
}